.newCollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.newCollections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.newCollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

/* <=====Media query for 1280px screen sizes====> */

@media(max-width:1280px){
    .newCollections h1{
        font-size: 40px;
    }
    .newCollections hr{
        width: 160px;
        height: 4px;
    }
    .collections{
        gap: 20px;
        margin-top: 30px;
    }
}

/* <=====Media query for 1024px screen sizes====> */

@media(max-width:1024px){
    .newCollections h1{
        font-size: 30px;
    }
    .newCollections hr{
        width: 120px;
        height: 3px;
    }
    .collections{
        gap: 15px;
        margin-top: 20px;
    }
}

/* <=====Media query for 800px screen sizes====> */

@media(max-width:800px){
    .newCollections{
        gap: 6px;
    }
    .newCollections h1{
        font-size: 20px;
    }
    .newCollections hr{
        width: 100px;
    }
    .collections{
        gap: 5px;
    }
}

/* <=====Media query for 500px screen sizes====> */

@media(max-width:500px){
    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:  20px;
    }
}

